/*
custom properties 
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --body-font: "Noto Sans", sans-serif;

  --color-body: #f3ceca;
  /* --color-body: #e8f3f8; */
  --color-header: #cd9296;
  --color-text: var(--color-header);
  --color-text-muted: #2f4149;
  --color-input: #dfb6b9;
  --color-input-lighter: #0b374a;
  --color-secondary: #213f99;
  --color-secondary-darker: #1f3473;
  --color-secondary-lighter: #2448b7;
  --color-tertiary: #1f3473;
  --color-text-badge: #e8f3f8;
  --color-disabled: #d2e7f1;
  --color-text-disabled: #77b8d4;

  --global-border-radius: 6px;
  --global-transition: all 0.2s ease-in-out;
}

html {
  font-style: 18px;
}

body {
  font-family: var(--body-font);
  background-color: var(--color-body);
  color: var(--color-text);
}

.container {
  padding: 0 1.5rem;
}

button,
input[type="checkbox"] {
  cursor: pointer;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  color: white;
  margin-bottom: 0 0 2rem;
}

a {
  color: var(--color-text);
  transition: var(--global-transition);
}

a:hover {
  color: var(--color-header);
}

/* form css start */

#todo-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#todo-form input {
  background-color: var(--color-input);
  border: 0;
  padding: 1rem;
  border-radius: var(--global-border-radius);
  outline: 0;
  color: white;
  /* width: 35vw; */
}

#todo-form input:hover,
#todo-form input:focus {
  background-color: var(--color-input-lighter);
  color: wheat;
}

#todo-form input {
  color: var(--color-body);
}

#todo-form input::placeholder {
  color: var(--color-text-muted);
}

#todo-form button {
  bottom: 0;
  padding: 1rem;
  border-radius: var(--global-border-radius);
  font-weight: 700;
  text-transform: uppercase;
  color: wheat;
  background-color: var(--color-input-lighter);
}

#todo-form button:hover {
  background-color: var(--color-secondary-darker);
}

#todo-form button:active {
  background-color: var(--color-secondary-lighter);
}

#todo-form button,
#todo-form input {
  transition: var(--global-transition);
}

small,
#todo-form button,
.stats span {
  font-style: 0.75rem;
}

/* form css end */

#main-header {
  background-color: var(--color-header);
  padding: 3rem 0;
  margin-bottom: 2rem;
}

/* stats css start */

.stats {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  margin-bottom: 2rem;
}

.stats li {
  display: flex;
}

.stats span {
  padding: 0.25rem;
}

.stats span:first-child {
  background-color: var(--color-input-lighter);
  color: wheat;
  border-radius: var(--global-border-radius) 0 0 var(--global-border-radius);
}

.stats span:nth-child(2) {
  background-color: var(--color-tertiary);
  color: var(--color-body);
  break-before: 0 var(--global-border-radius) var(--global-border-radius) 0;
  font-weight: 700;
}

/* stats css end */

/* footer css */
footer p {
  font-size: 16px;
  margin: 2px;
  padding: 3px;
  background-color: #082937;
  color: white;
}

footer a {
  color: wheat;
}

/* ---todo app main css start ----*/

.todos {
  margin-bottom: 4rem;
}

.todos li {
  background-color: #fff;
  border-radius: var(--global-border-radius);
  margin-bottom: 1rem;
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todos li span {
  color: #082937;
}

.todos li div {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.todos li.completed {
  background-color: var(--color-disabled);
  text-decoration: line-through;
  color: var(--color-text-disabled);
}

input[type="checkbox"] {
  appearance: none;
  background-color: transparent;
  margin: 0;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid var(--color-text);
  border-radius: 100%;
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "\2713";
  transform: scale(0);
  transition: var(--global-border-radius);
}

input[type="checkbox"]:checked {
  background-color: var(--color-disabled);
  border-radius: var(--color-text-disabled);
  border-radius: 100%;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.remove-task i {
  border-radius: 0%;
  color: var(--color-text-disabled);
}
.remove-task i:hover {
  border-radius: 0%;
  color: var(--color-text);
}

.todos li span:focus {
  background-color: var(--color-body);
  outline: none;
}

.todos li span[contenteditable]:hover {
  background-color: var(--color-body);
}

/* todo app main css end---- */

/* responsive design code */
/* for 768px and above */
@media screen and (min-width: 768px) {
  .container {
    max-width: 3rem;
    margin: 0 auto;
    position: relative;
  }

  .container h1 {
    margin-bottom: 2rem;
  }

  #todo-form {
    flex-direction: row;
  }

  #todo-form input {
    flex-grow: 1;
    color: var(--color-body);
  }

  footer p,
  a {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .stats {
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    transform: translate(-210%);
    padding-right: 4rem;
  }

  .todos {
    width: 45vw;
    transform: translate(-50%);
  }
  footer {
    text-decoration: none;
    margin-top: 15vh;
  }

  footer p,
  a {
    text-align: center;
  }
}
@media screen and (min-width: 1440px) {
  .stats {
    flex-direction: column;
    align-items: left;
    position: absolute;
    transform: translate(-350%);
    padding-right: 4rem;
  }

  .todos {
    width: 45vw;
    transform: translate(-50%);
  }
  footer {
    text-decoration: none;
  }

  footer p,
  a {
    text-align: center;
  }
}
